{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-wrapper">

            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <!-- [ breadcrumb ] start -->
                    
                    <!-- [ breadcrumb ] end -->
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                            <div class="row">
                                <!--[ daily sales section ] start-->
                                <div class="col-md-6 col-xl-6">
                                    <div class="card daily-sales">
                                        <div class="card-block border-bottom">
                                            <div class="row ">
                                                <div class="col-auto">
                                                    <i class="fab fa-twitter text-c-blue f-36"></i>
                                                </div>
                                                <div class="col text-right">
                                                    <h3>Tweet</h3>
                                            <div class="row d-flex align-items-center">
                                                <div class="col-9">
                                                    <h3 class="f-w-300 d-flex align-items-center m-b-0"><i
                                                            class="feather icon-arrow-up text-c-green f-30 m-r-10"></i><span id="tweet"></span></h3>
                                                </div>
                                
                                                <div class="col-3 text-right">
                                                    <p class="m-b-0" id="target-percentage"></p>
                                                </div>
                                            </div>
                                            <div class="progress m-t-30" style="height: 7px;">
                                                <div class="progress-bar progress-c-theme" role="progressbar"
                                                        style="width: 50%;" aria-valuenow="50" aria-valuemin="0"
                                                        aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                    </div>
                                
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-xl-6">
                                    <div class="card daily-sales">
                                        <div class="card-block">
                                            <h6 class="mb-4">features</h6>
                                            <div class="row d-flex align-items-center">
                                                <div class="col-9">
                                                    <h3 class="f-w-300 d-flex align-items-center m-b-0"><i
                                                            class="feather icon-arrow-up text-c-green f-30 m-r-10"></i><span id="features"></span></h3>
                                                </div>
                                                <div class="col-3 text-right">
                                                    <p class="m-b-0" id="target-percentage"></p>
                                                </div>
                                            </div>
                                            <div class="progress m-t-30" style="height: 7px;">
                                                <div class="progress-bar progress-c-theme" role="progressbar"
                                                        style="width: 50%;" aria-valuenow="50" aria-valuemin="0"
                                                        aria-valuemax="100"></div>
                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--[ daily sales section ] end-->
                                <div class="col-md-6 col-xl-4">
                                    <div class="card daily-sales">
                                        <div class="card-block">
                                            <h6 class="mb-4">Prediction Count</h6>
                                            <div class="row d-flex align-items-center">
                                                <div class="col-9">
                                                    <h3 class="f-w-300 d-flex align-items-center m-b-0"><i
                                                            class="feather icon-arrow-up text-c-green f-30 m-r-10"></i><span id="prediction-count"></span></h3>
                                                </div>
                                                <div class="col-3 text-right">
                                                    <p class="m-b-0" id="target-percentage"></p>
                                                </div>
                                            </div>
                                            <div class="progress m-t-30" style="height: 7px;">
                                                <div class="progress-bar progress-c-theme2" role="progressbar"
                                                        style="width: 35%;" aria-valuenow="35" aria-valuemin="0"
                                                        aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--[ Monthly  sales section ] starts-->
                                <div class="col-md-6 col-xl-4">
                                    <div class="card Monthly-sales">
                                        <div class="card-block">
                                            <h6 class="mb-4">Accuracy Value</h6>
                                            <div class="row d-flex align-items-center">
                                                <div class="col-9">
                                                    <h3 class="f-w-300 d-flex align-items-center  m-b-0"><i
                                                            class="feather icon-arrow-down text-c-red f-30 m-r-10"></i><span id="accuracy"></span></h3>
                                                </div>
                                                <div class="col-3 text-right">
                                                    <p class="m-b-0" id="target-percentage"></p>
                                                </div>
                                            </div>
                                            <div class="progress m-t-30" style="height: 7px;">
                                                <div class="progress-bar progress-c-theme2" role="progressbar"
                                                        style="width: 35%;" aria-valuenow="35" aria-valuemin="0"
                                                        aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--[ Monthly  sales section ] end-->
                                <!--[ year  sales section ] starts-->
                                <div class="col-md-12 col-xl-4">
                                    <div class="card yearly-sales">
                                        <div class="card-block">
                                            <h6 class="mb-4">F1 Score Value</h6>
                                            <div class="row d-flex align-items-center">
                                                <div class="col-9">
                                                    <h3 class="f-w-300 d-flex align-items-center  m-b-0"><i
                                                            class="feather icon-arrow-up text-c-green f-30 m-r-10"></i><span id="f1-score-value"></span></h3>
                                                </div>
                                                <div class="col-3 text-right">
                                                    <p class="m-b-0" id="target-percentage"></p>
                                                </div>
                                            </div>
                                            <div class="progress m-t-30" style="height: 7px;">
                                                <div class="progress-bar progress-c-theme" role="progressbar"
                                                        style="width: 70%;" aria-valuenow="70" aria-valuemin="0"
                                                        aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--[ year  sales section ] end-->
                                <div class="col-xl-12 col-md-12 m-b-30">

                                    <div class="card">
                                        <div class="card-header">
                                            <h5>Data Training Table</h5>
                                        </div>
                                        <div class="card-block table-border-style">
                                            <div class="table-responsive">
                                                <style>
                                                    .custom-scroll {
                                                        max-height: 400px;
                                                        font-size: large;
                                                        overflow-y: auto;
                                                    }
    
                                                </style>
                                                <table class="table table-striped custom-scroll" id="data-table" style="font-size: xx-large; font-weight: bold;">
                                                    <thead>
                                                        <tr>
                                                            <th>#</th>
                                                            <th></th>
                                                            <th>Features</th>
                                                            <th>Target</th>
                                                            <th>Label</th>
                                                            <th>Prediction</th>
                                                            <th>PredLabel</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="table-body">
                                                        <!-- Data will be injected here by JavaScript -->
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                            <!-- [ Main Content ] end -->
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- [ Main Content ] end -->            

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<script>

    let predictionCount = 0;
    const predictionMapping = {
        0: 'Negative',
        1: 'Positive',
        2: 'Neutral',
        3: 'Irrelevant'
    };

    function fetchData() {
        fetch('/api/data')
            .then(response => response.json())
            .then(data => {
                predictionCount++;
                const tableBody = document.getElementById('table-body');
                tableBody.innerHTML = ''; // Clear the table body

                // Update the features and tweet spans within the loop
                let features = "";
                let tweet = "";

                for (let index = 0; index < Math.min(data.length, 5); index++) {
                    const row = data[index];
                    features = row['filtered_words'].join(' : ');
                    tweet = row['tweet'];
                    const tr = document.createElement('tr');
                    tr.innerHTML = `
                        <th scope="row">${data.length - index}</th> <!-- Adjust index to start from 1 -->
                        <td><img class="rounded-circle" style="width:40px;" src="{{ config.ASSETS_ROOT }}/images/user/avatar-3.jpg" alt="activity-user"></td>
                        <td>${features}</td>
                        <td>${row['target']}</td>
                        <td>${row['label']}</td>
                        <td>${row['prediction']}</td>
                        <td>${predictionMapping[row['prediction']]}</td> <!-- Map prediction label using predictionMapping -->
                    `;
                    tableBody.appendChild(tr);
                }

                // Update the spans after the loop
                document.getElementById('features').textContent = features;
                document.getElementById('tweet').textContent = tweet;
                document.getElementById('prediction-count').textContent = predictionCount;
            });
    }
    function fetchMetrics() {
    fetch('/get_predictions')
        .then(response => response.json())
        .then(data => {
            
            document.getElementById('accuracy').textContent = data["accuracy"] // Assuming accuracy is at index 0
            document.getElementById('f1-score-value').textContent = data["f1"] // Assuming F1 score is at index 1
        });
    }


    // Fetch data initially and then every 5 seconds
    fetchData();
    setInterval(fetchData, 5000);
    fetchMetrics();
    setInterval(fetchMetrics, 5000);
</script>

{% endblock javascripts %}